name: GH Pages Branch Auto Sync

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'
      - 'project-logo.png'

jobs:
  sync-files:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout target branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Sync files from main
        run: |

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          # Pull specific files from the main branch
          git checkout origin/main -- README.md project-logo.png
          
          # Check if there are changes to commit
          if git diff --staged --quiet; then
            echo "No changes to sync."
          else
            git commit -m "Auto Sync from main branch"
            git push origin gh-pages
          fi